# Compilation Maven
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws

# IDE - VS Code
.vscode/

# IDE - Eclipse
.settings/
.classpath
.project

# Système d'exploitation
.DS_Store
Thumbs.db

# Logs
*.log